[Desktop Entry]
Name=Rars
Comment=App
Exec=java -jar /home/user/Downloads/rars1_6.jar
Terminal=false
Type=Application
Categories=Utility;Application;
StartupNotify=true
StartupWMClass=rars.Launch
